# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/robot-web-control/node_modules
robot-web-control/.pnp
robot-web-control/.pnp.js

# testing
robot-web-control/coverage

# production
robot-web-control/build

# misc
robot-web-control/.DS_Store
robot-web-control/.env.local
robot-web-control/.env.development.local
robot-web-control/.env.test.local
robot-web-control/.env.production.local

robot-web-control/npm-debug.log*
robot-web-control/yarn-debug.log*
robot-web-control/yarn-error.log*
